@font-face {
    font-family: 'doppelganger';
    src: 
      url('doppelganger_display.woff2') format('woff2'),
      url('doppelganger_display.woff') format('woff'),
      local('doppelganger');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'doppelganger';
  background: radial-gradient(circle, rgba(61,16,11,0.8) 0%, rgb(231, 231, 231) 30%);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-size: 18px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

header {
  font-family: 'Amarante', cursive;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align:  center;
  color:  rgb(44, 44, 44);
}

section {
  max-width: 580px;
  width: 70%;
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 80px;
  z-index: 100;
}

h1 {
  text-align: center;
  font-size: 88px;
  font-weight: 300;
  color: #97190f;
  letter-spacing: 10px;
}

.heading {
  font-size: 30px;
}

img {
  max-width: 200px;
  max-height: 250px;
}

#wrapper{
  position: relative;
}

.container {
  list-style: none; 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20;
  z-index: -100;
  width: 100vw;
  height: 100vh;
}

.nudes {
  position: absolute;
}

#help {
  margin-top: 20px;
  margin-left: 100px;
}

#about {
  margin-top: 30px;
  margin-left: 30px;
}

#why {
  margin-top: 30px;
}

#bonus {
  margin-top: 30px;
}

/* mobile layout */
#mobile{
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(61,16,11,0.8) 0%, rgb(231, 231, 231) 30%);
  position: fixed;
  top: 0; left: 0;
  display: flex;
  justify-content: center;
flex-direction: column;
  z-index: 999;
  display: none;
}

#mobile p{
  padding: 0 2em;
  max-width: 80vw;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  #mobile{
    display: flex;
  } 
}